@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    color: #ffff;
}
:root{
    --user-primary-color: #00000016;
    --ai-primary-color: #0000002d;
        --ai-second-color: #15edc2;
        --user-second-color: #008d8a;

    --secondary-color: #000000;
    --text-color: #333;
    --border-radius: 8px;
}
body{
    background-color: var(--secondary-color);
width: 100%;
height: 100vh;
overflow-y: hidden;
}
.intro{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    flex-direction: column;
    gap: 6px;

}
h1{
    background: linear-gradient(to right,var(--user-second-color),var(--ai-second-color),var(--ai-second-color),var(--ai-second-color),var(--user-second-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
span{
    color: transparent;
        background: linear-gradient(var(--user-second-color),var(--ai-second-color),var(--ai-second-color),var(--ai-second-color),var(--user-second-color));
    -webkit-background-clip: text;
    background-clip: text;
    font-size: .8rem;
    
}
h1 .name{
    color: transparent;
    font-size: 2rem;
}
.chat-area{
    width: 100%;
    height: 60%;
background-color:var(--secondary-color);
    box-sizing: border-box;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow-y: auto;
    overflow-x: hidden;
   
}
.chat-area::-webkit-scrollbar{
    background-color: var(--secondary-color);
    width: 10px;
}
.chat-area::-webkit-scrollbar-thumb{
    background-color: var(--user-primary-color);
    border-radius: 30px;
    width: 10px;
}
.chat-area img{
    width: 50px;
    border-radius: 50%;
top: 0%;
}
.user-chat-box{
    width: 60%;
    position: relative;
    display: flex;
justify-content: end;
padding: 1% 4% 0% 0%;
box-sizing: border-box;
    left: 40%;
}
.user-chat-area{
    max-width: 90%;
    height: 100%;
    background-color: var(--user-primary-color);
    box-sizing: border-box;
        box-shadow: inset 0px 0px 2px var(--user-second-color), 0px 0px 6px var(--user-second-color);
            border: .5px solid var(--user-second-color);

right: 3%;
position: relative;
  padding: 15px 15px 15px 10px;
            border-radius: 20px;

}
#userImage{
    position: absolute;
    right: 0%;
    top: 0%;
}
.ai-chat-box{
    width: 60%;
    position: relative;
    display: flex;
justify-content: start;
padding: 1% 4% 0% 0%;
box-sizing: border-box;
}
.ai-chat-area{
    max-width: 90%;
    height: 100%;
    background-color: var(--ai-primary-color);
    box-sizing: border-box;
  box-shadow: inset 0px 0px 2px var(--ai-second-color), 0px 0px 6px var(--ai-second-color);
            border: .5px solid var(--ai-second-color);
    padding: 15px 15px 15px 10px;
            border-radius: 30px;

    left: 10%;

    position: relative;

}
#aiImage{
    position: absolute;
    left: 0%;
            border:1px solid var(--ai-second-color);

}
#userImage{
   
            border: 1px solid var(--user-second-color);

}
.prompt-area{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#prompt{
    width:60%;
    height: 50px;
    border-radius: var(--border-radius);
    padding: 0px 20px;
    border: none;
   transition: .2s;
    font-size: .8rem;
    border-radius: 30px;
    outline: none;
    background-color: var(--user-primary-color);
    border: 2px solid var(--user-second-color);
    backdrop-filter: blur(40px);
    color: #ffff;
  animation: inp 6.3s linear forwards infinite;
}

@keyframes inp {
    0%{
           border: 2px solid var(--ai-second-color);


    }
    30%{
           border: 2px solid var(--user-second-color);


    }
    50%{
           border: 2px solid var(--ai-second-color);


    }
    70%{
           border: 2px solid var(--user-second-color);


    }
    100%{
          border: 2px solid var(--ai-second-color);

    }
    
}
.prompt-area button{
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--user-primary-color);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid var(--user-second-color);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.prompt-area button:hover i{
    transition: .3s;
    color: var(--user-second-color);
}
.shadow{
    width: 60%;
    height: 30%;
    background-color: var(--ai-second-color);
    position: absolute;
    left: 50%;
    bottom: -40%;
    transform: translate(-50%,-50%);
    animation: shadow 6.3s linear forwards infinite;
    filter: blur(90px);
}
@keyframes shadow {
    0%{
        border-radius: 20% 10% 50% 20%;
            background-color: var(--ai-second-color);

    }
    30%{
        border-radius: 50% 30% 20% 30%;
            background-color: var(--user-second-color);

    }
    50%{
        border-radius:50% 40% 20% 40%;
                    background-color: var(--ai-second-color);

    }
    70%{
        border-radius: 90% 10% 70% 30%;
                    background-color: var(--user-second-color);

    }
    100%{
        border-radius: 20% 10% 50% 20%;
                    background-color: var(--ai-second-color);

    }
    
}

@media (max-width:780px) {

    h1{
        font-size: 1rem;
    }
    span{
        font-size: .7rem;
    }
    .chat-area{
        padding: 0% 5%;
    }
    .ai-chat-area{
        font-size: .6rem;
        top: 20%;
        max-width: 100%;
    }
      .user-chat-area{
        font-size: .6rem;
                max-width: 100%;

        top: 20%;
    }
    .load{
        width: 20px;
        height: 30px;
    }
    #prompt{
        width: 50%;
    }
    #prompt:focus{
        width:60%;

}
}
